//Fonte
$font: 'Belanosima', sans-serif;

//Cores
$background-color: #2C3333;
$primary-color: #2E4F4F;
$secondary-color: #0E8388;
$tertiary-color: #CBE4DE;
$contrast-color-1: #ffc670;
$contrast-color-2: #F86F03;